# .pre-commit-config.yaml
# See https://pre-commit.com for more information

repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version. Must be kept in sync with pyproject.toml
    rev: v0.1.6
    hooks:
        # Run the linter.
        - id: ruff
          args: [--fix]
        # Run the formatter.
        - id: ruff-format
